{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero section -->
<div class="container-fluid">
    <div class="hero-section">
        <div class="hero-text-container bottom-left">
            <h1 class="">
                Discover the Perfect Digital Brushes
            </h1>
            {% if request.user.is_authenticated %}
            <div class="my-5">
                <a href="{% url 'brushes' %}" class="btn-cta text-uppercase py-3">Explore Brushes</a>
            </div>
            {% else %}
            <div class="my-5">
                <a href="{% url 'account_signup' %}" class="btn-cta text-uppercase py-3">Sign up now</a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Featured brushes section -->
    <div class="container">
        <h2 class="text-center my-4">Featured Brushes</h2>
        <div class="row justify-content-center align-items-end">
            {% if featured_brushes %}
            {% for brush in featured_brushes %}
            <div class="mb-4">
                <div class="brush-container">
                    <a href="{% url 'brush_detail' brush.id %}">
                        <h2 class="brush-title">{{ brush.name }}</h2>
                        <div class="brush">
                            {% if brush.image %}
                            <img src="{{ brush.image.url }}" alt="{{ brush.name }} Image" class="brush-image">
                            {% else %}
                            <img src="{% static 'placeholder/placeholder.svg' %}" alt="Placeholder Image"
                                class="brush-image">
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No featured brushes at the moment.</p>
            {% endif %}
        </div>
    </div>



</div>
{% endblock %}