{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Discover the Perfect Digital Brushes
            </h1>
            <p class="lead">
                Elevate your digital art with our curated brush collections.
            </p>
            <div class="my-5">
                <a href="{% url 'brushes' %}" class="btn-cta text-uppercase py-3">Explore
                    Brushes</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-end">
        <h2 class="logo-font text-black">Featured Brushes</h2>
        {% if featured_brushes %}
        {% for brush in featured_brushes %}
        <div class="mb-4">
            <div class="brush-container">
                <a href="{% url 'brush_detail' brush.id %}">
                    <h2 class="brush-title">{{ brush.name }}</h2>
                    <div class="brush">
                        {% if brush.image %}
                        <img src="{{ brush.image.url }}" alt="{{ brush.name }} Image" class="brush-image">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image" class="brush-image">
                        {% endif %}
                    </div>
                </a>
                <p class="brush-rating">Rating: {{ brush.rating }}</p>
                <p class="brush-price">Price: ${{ brush.price }}</p>

                {% if brush.id|stringformat:"s" in request.session.bag.keys %}
                <form method="post" action="{% url 'remove_from_bag' brush.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{% url 'view_bag' %}">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'add_to_bag' brush.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{% url 'brushes' %}">
                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No featured brushes at the moment.</p>
        {% endif %}
    </div>

</div>
{% endblock %}