{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- User Information -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="logo-font mb-4">My Profile</h1>
            <p class="profile-text"><strong>Username:</strong> {{ user.username }}</p>
            <p class="profile-text"><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>

    <!-- Toggle Switch -->
    <div class="row">
        <div class="col text-center profile-switches">
            <button class="toggle-button btn-cta text-uppercase py-3" onclick="toggleBrushes('owned')">Owned
                Brushes</button>
            <button class="toggle-button btn-cta text-uppercase py-3" onclick="toggleBrushes('favorites')">Favorite
                Brushes</button>
        </div>
    </div>

    <!-- Owned Brushes Section -->
    <div id="owned-brushes" class="container-fluid">
        <h3 class="logo-font mb-3 text-center">Owned Brushes</h3>
        <div class="row justify-content-center align-items-end">
            {% for order in orders %}
            {% for lineitem in order.lineitems.all %}
            <div class="mb-4">
                <div class="brush-container">
                    <a href="{% url 'brush_detail' lineitem.product.id %}">
                        <h2 class="brush-title">{{ lineitem.product.name }}</h2>
                        <div class="brush padding-bottom">
                            {% if lineitem.product.image %}
                            <img src="{{ lineitem.product.image.url }}" alt="{{ lineitem.product.name }} Image"
                                class="brush-image">
                            {% else %}
                            <img src="{% static 'placeholder/placeholder.svg' %}" alt="Placeholder Image"
                                class="brush-image">
                            {% endif %}
                        </div>
                    </a>
                    <a href="{{ lineitem.product.brush_file.url }}" download class="btn-cta text-uppercase py-3">
                        Download Brush
                    </a>
                </div>
            </div>
            {% endfor %}
            {% empty %}
            <p>No owned brushes.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Favorite Brushes Section -->
    <div id="favorite-brushes" class="container">
        <h3 class="logo-font mb-3 text-center">Favorite Brushes</h3>
        <div class="row justify-content-center align-items-end">
            {% for saved_brush in saved_brushes %}
            <div class=" mb-4">
                <div class="brush-container padding-faves">
                    <p>{{ saved_brush.brush.name }}</p>
                    {% if saved_brush.brush.image %}
                    <img src="{{ saved_brush.brush.image.url }}" alt="{{ saved_brush.brush.name }}" class="brush-image">
                    {% else %}
                    <img src="{% static 'path/to/default/image.png' %}" alt="Default Image" class="brush-image">
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>You have no favorite brushes.</p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    // Function to toggle brushes and update active state
    function toggleBrushes(section) {
        var ownedBrushes = document.getElementById('owned-brushes');
        var favoriteBrushes = document.getElementById('favorite-brushes');
        var ownedButton = document.querySelector('button[onclick="toggleBrushes(\'owned\')"]');
        var favoriteButton = document.querySelector('button[onclick="toggleBrushes(\'favorites\')"]');

        if (section == 'owned') {
            ownedBrushes.style.display = 'block';
            favoriteBrushes.style.display = 'none';
            ownedButton.classList.add('active');
            favoriteButton.classList.remove('active');
        } else if (section == 'favorites') {
            ownedBrushes.style.display = 'none';
            favoriteBrushes.style.display = 'block';
            ownedButton.classList.remove('active');
            favoriteButton.classList.add('active');
        }
    }

    // Set 'Owned Brushes' as active on page load
    document.addEventListener('DOMContentLoaded', function () {
        toggleBrushes('owned');
    });
</script>
{% endblock %}