{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">Checkout</h2>
        </div>
    </div>

    <div class="row">
        <!-- Order Form Section -->
        <div class="col-12 col-lg-6">
            <p class="">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
            </form>
        </div>

        <!-- Order Summary Section -->
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="">Order Summary ({{ product_count }})</p>
            <div class="order-summary-container">
                {% for item in bag_items %}
                <div class="row mb-1">
                    <div class="col-3">
                        <!-- Item Image -->
                        {% if item.brush.image %}
                        <img class="toast-brush-image" src="{{ item.brush.image.url }}" alt="{{ item.brush.name }}">
                        {% else %}
                        <img class="toast-brush-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.brush.name }}">
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <p class="my-0"><strong>{{ item.brush.name }}</strong></p>
                        <p class="my-0">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-4 text-right">
                        <p class="my-0">${{ item.brush.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row text-black text-right">
                <div class="col-12">
                    <p class="my-0"><strong>Order Total:</strong> ${{ grand_total | floatformat:2 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-2">
    <div class="d-flex justify-content-center">
        <div class="checkout-btn mr-2">
            <a href="{% url 'view_bag' %}" class="btn btn-remove-from-cart responsive-btn">
                <i class="fas fa-chevron-left icon"></i>
                Adjust Bag
            </a>
        </div>

        <div class="checkout-btn">
            <button id="submit-button" class="btn btn-add-to-cart responsive-btn">
                Complete Order
                <i class="fas fa-lock icon"></i>
            </button>
        </div>
    </div>
</div>


<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}