html {
    height: 100%;
}

.full-screen {
    min-height: 70vh;
}

/* -------------------------------- Body */

body {
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Mukta', sans-serif;
    background-color: #582841;
    /* Updated background color */
}

/* -------------------------------- Anchor tags */

a {
    text-decoration: none !important;
    color: #f89e4c;
}

a:hover {
    color: #f89e4c !important;
}

input {
    background-color: #582841;
    border: 2px solid #f89e4c !important;
    border-radius: 0.25rem !important;
    color: #f89e4c;
}

.rounded-0 {
    border-radius: 0.25rem !important;
}

::placeholder {
    color: #f89e4c !important;
}

/* -------------------------------- P tags */

p {
    color: #f89e4c;
    margin: none;
}

/* -------------------------------- Table styling */

.table thead tr th {
    border-color: #f89e4c !important;
    color: #f89e4c !important;
}

.table {
    color: #f89e4c !important;
}

td {
    font-size: 1.3rem;
    color: #f89e4c !important;
}

tr {
    color: #f89e4c !important;
}

th {
    font-size: 1.5rem;
    color: #f89e4c !important;
}

.table tr td {
    border-color: #f89e4c !important;
}

.table .brush-item p {
    font-size: 1.2rem;
}

.grand-total {
    font-size: 2rem;
}

/* -------------------------------- H tags */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f89e4c !important;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 400;
}

/* -------------------------------- Icons */

.fa-icon-style {
    color: #f89e4c;
}

/* -------------------------------- Nav styling */

.lottie-container {
    padding-right: 10px;
}

a.text-info:focus,
a.text-info:hover {
    color: #f89e4c !important;
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease;
}

.nav-icon-spacing {
    padding-right: 10px;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f89e4c' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom {
    background-color: #582841;
}


.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-nav .nav-item,
.navbar .navbar-icons a .navbar .fa-shopping-bag,
.navbar .my-account-link {
    color: #f89e4c !important;
}


.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    margin: 0;
}

.navbar-icons .nav-item a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

/* -------------------------------- Dropdown menus */

.dropdown-menu {
    border: 2px solid #f89e4c !important;
    background-color: #582841;
}

/* Style for dropdown items */
.dropdown-menu .dropdown-item {
    color: #f89e4c;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f89e4c;
    color: #582841 !important;
}

/* Style for the Sort Brushes header */
.nav-link h2 {
    font-size: 1rem;
    margin-bottom: 0;
    color: inherit;
}

.fa-icon-style {
    color: #f89e4c;
}


/* -------------------------------- Search input */
.form-control {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
}

.search-input::placeholder {
    color: #f89e4c !important;
}

/* -------------------------------- Search button */
.btn-black {
    background-color: #582841;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
}

.btn-black:hover {
    background-color: #582841;
    color: #f89e4c;
}

/* -------------------------------- Index */

.hero-section {
    background: url(/media/hero_image/hero-image.svg) center center no-repeat;
    min-height: 100vh;
}

.header-container {
    position: relative;
    z-index: 10;
}

.fa-search {
    font-size: 1.3rem;
    color: #582841 !important;
}

.fa-search:hover {
    color: #f89e4c !important;
}

.hero-text-container {
    margin-bottom: 20%;
    margin-left: 10%;
}

.bottom-left {
    margin-left: 30px;
    margin-bottom: 45px;
    bottom: 0;
    left: 0;
    max-width: 90vw;
    position: absolute;
}

/* -------------------------------- Buttons */

/* General Button Style */
.btn-custom {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #582841;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #582841;
    color: #ef4748;
    text-decoration: none !important;
}

/* -------------------------------- Cta and checkout button styles */
.btn-cta {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: #f89e4c;
    border: 2px solid #f89e4c;
    color: #582841 !important;
    text-decoration: none !important;
}


.btn-custom,
.btn-cta {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none !important;
}


/* -------------------------------- Add to cart button style */
.btn-add-to-cart {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #f89e4c;
    color: #582841 !important;
}



/* -------------------------------- Remove from cart button */
.btn-remove-from-cart {
    background-color: #582841;
    color: #ef4748;
    border: 2px solid #ef4748;
    transition: background-color 0.3s ease;
}

.btn-remove-from-cart:hover {
    background-color: #ef4748;
    border: 2px solid #ef4748;
    color: #582841 !important;
}

/* Common Style Overrides */
.btn-add-to-cart,
.btn-remove-from-cart {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #C72C41;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #f89e4c;
    color: white;
}


/* -------------------------------- Contact page */

label {
    color: #f89e4c !important;
}

.form-control:focus {
    background-color: #582841;
    color: #f89e4c;
    box-shadow: none;
}

/* -------------------------------- Profile */

.profile-switches {
    padding: 20px;
}

.profile-text {
    font-size: 1.5rem;
}

#favorite-brushes {
    display: none;
}

.toggle-button.active {
    background-color: #f89e4c;
    color: #582841;
}


/* -------------------------------- Brushes styling */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.brush-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.brush-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brush-title {
    max-width: 280px;
    word-wrap: break-word;
    text-align: center;
}

.brush-container:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

#all-products-link {
    display: inline-block;
}


.nnav-item {
    list-style-type: none;
}


.parent-ul-or-ol-class {
    list-style-type: none;
}

.brush-content-spacing {
    padding: 0 10px;
}

.brush-content {
    font-size: 1.3rem;
}

.save-icon {
    margin-top: 5px;
}

/* -------------------------------- Brush details page */

span {
    font-size: 1.3rem;
    color: #f89e4c !important;
}

.star-rating {
    font-size: 1.5rem;
    direction: rtl;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label {
    color: #f89e4c;
}

/* -------------------------------- Toast styling */

.custom-toast {
    border: 2px solid #f89e4c;
    border-radius: 0.25rem !important;
}

.bg-success {
    background-color: #f89e4c !important;
}

.custom-toast .toast-capper.bg-yellow {
    background-color: #f89e4c !important;
    height: 10px;
}

.custom-toast .toast-header {
    background-color: #582841;
    color: #f89e4c !important;
    border-bottom: 2px solid #f89e4c
}

.custom-toast .toast-body {
    background-color: #582841 !important;
    color: #ef4748;
}

.custom-toast .btn-black {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem !important;
    transition: background-color 0.3s ease;
}

.custom-toast .btn-black:hover {
    background-color: #f89e4c;
    color: #582841 !important;
}

.toast-brush-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 20px;
}

.toast-header {
    font-weight: bold;
}

.toast-body {
    word-wrap: break-word;
}

/* Success Toast Specific Styling */
.toast.custom-toast .toast-capper.bg-success {
    height: 10px;
}

.custom-toast .toast-header .close {
    background: transparent;
    border: none;
    color: #f89e4c !important;
}

.fas .fa-times {
    color: #f89e4c !important;
}

.custom-toast .toast-header .close i {
    color: #f89e4c !important;
}

/* -------------------------------- Bag */

.body-content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/* -------------------------------- Footer */

.footer-icon {
    padding: 0 10px;
}

.footer-icon:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.footer {
    padding: 25px 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


@media only screen and (max-width: 600px) {
    .table thead tr {
        display: none;
    }

    .table td {
        display: block;
        position: relative;
        padding-left: 40%;
        text-align: left;
        border: none;
        border-bottom: 1px solid #eee;
    }

    .table td:before {
        content: attr(data-title);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
    }

    .table tr {
        border-bottom: 1px solid #ccc;
    }
}