html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Mukta', sans-serif;
    background-color: #EE4540;
    /* Updated background color */
}

/* H tag font weights*/

h1 {
    font-weight: 800;
    /* Mukta Extra Bold */
}

h2 {
    font-weight: 700;
    /* Mukta Bold */
}

h3 {
    font-weight: 600;
    /* Mukta Semi-Bold */
}

h4,
h5,
h6 {
    font-weight: 400;
    /* Mukta Regular */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #C72C41;
    /* Updated button background color */
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #801336;
    /* Updated button background color */
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #2D142C;
    /* Updated button hover color */
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

/* Brushes */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.brush-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.brush-container {
    margin: 20px;
}

/* Toast Message Styling */
.toast.custom-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    /* Ensures the toast is above other elements */
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a shadow for better visibility */
}

.toast-brush-image {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.toast-header {
    font-weight: bold;
}

.toast-body {
    word-wrap: break-word;
    /* Ensures long messages don't overflow */
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #28a745;
    /* Arrow color should match the toast header */
    position: absolute;
    top: -10px;
    right: 20px;
}

/* Success Toast Specific Styling */
.toast.custom-toast .toast-capper.bg-success {
    height: 10px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}