html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Mukta', sans-serif;
    background-color: #4a5c77;
    /* Updated background color */
}

/* Anchor tags */

a {
    text-decoration: none !important;
    color: #f3bd79;
}

p {
    color: #f3bd79;
}

.table thead tr th {
    border-color: #f3bd79 !important;
    /* Yellow border color for headers */
    color: #f3bd79 !important;
    /* Header text color, adjust as needed */
}

.table {
    color: #f3bd79 !important;
}

td {
    font-size: 1.3rem;
    color: #f3bd79 !important;
}

tr {
    color: #f3bd79 !important;
}

th {
    font-size: 1.5rem;
    color: #f3bd79 !important;
}

.table tr td {
    border-color: #f3bd79 !important;
    /* Change to your yellow color */
}

.table .brush-item p {
    font-size: 1.2rem;
}

.grand-total {
    font-size: 2rem;
}

/* H tag font weights*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f3bd79 !important;
}

h1 {
    font-weight: 800;
    /* Mukta Extra Bold */
}

h2 {
    font-weight: 700;
    /* Mukta Bold */
}

h3 {
    font-weight: 600;
    /* Mukta Semi-Bold */
}

h4,
h5,
h6 {
    font-weight: 400;
    /* Mukta Regular */
}

/* icons */

.fa-icon-style {
    color: #f3bd79;
}

/* Nav styling */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f3bd79' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom {
    background-color: #4a5c77;
    /* Site's background color */
}


.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-nav .nav-item,
.navbar .navbar-icons a .navbar .fa-shopping-bag,
.navbar .my-account-link {
    color: #f3bd79 !important;
    /* Contrast color for better readability */
}


.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
    margin: 0;
    /* Adjust or remove margin as needed */
}

.navbar-icons .nav-item a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    /* Ensures consistent padding with other nav items */
}


/* Dropdown menus styling */

.dropdown-menu {
    border: 2px solid #f3bd79 !important;
    /* Yellow outline */
    background-color: #4a5c77;
    /* Background color, adjust if different from the body */
}

/* Style for dropdown items */
.dropdown-menu .dropdown-item {
    color: #f3bd79;
    /* Yellow text */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Smooth transition for hover effect */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f3bd79;
    /* Yellow background on hover */
    color: #ffffff;
    /* White text on hover */
}

/* Style for the Sort Brushes header */
.nav-link h2 {
    font-size: 1rem;
    /* Adjust size as needed */
    margin-bottom: 0;
    /* Remove bottom margin */
    color: inherit;
    /* Inherit color from parent element */
}

.fa-icon-style {
    color: #f3bd79;
    /* Yellow color for the icon */
}


/* Search Input */
.form-control {
    background-color: #4a5c77;
    color: #f3bd79;
    border: 2px solid #f3bd79;
    /* Or #a37081 */
    border-radius: 0.25rem;
}

.search-input::placeholder {
    color: #f3bd79 !important;
}

/* Search Button */
.btn-black {
    background-color: #4a5c77;
    border: 2px solid #f3bd79;
    /* Or #a37081 */
    border-radius: 0.25rem;
}

.btn-black:hover {
    background-color: #665d77;
    /* Darker shade on hover */
    color: #ffffff;
}

/* Index */

.hero-section {
    min-height: 100vh;
}


/* Buttons */

/* General Button Style */
.btn-custom {
    background-color: #4a5c77;
    /* Site background color */
    color: #f3bd79;
    /* Text color */
    border: 2px solid #665d77;
    /* Thin outline - choose between #665d77 or #a37081 */
    border-radius: 0.25rem;
    /* Rounded edges */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.btn-custom:hover {
    background-color: #665d77;
    /* Darker shade on hover - choose color */
    color: #ffffff;
    /* White text on hover */
    text-decoration: none !important;
}

/* CTA and Checkout Button Style */
.btn-cta {
    background-color: #4a5c77;
    color: #f3bd79;
    border: 2px solid #a37081;
    /* Different outline color for emphasis */
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: #a37081;
    color: #ffffff;
    text-decoration: none !important;
}

/* Ensure custom styles override Bootstrap styles */
.btn-custom,
.btn-cta {
    padding: 0.75rem 1.25rem;
    /* Adjust padding if necessary */
    font-size: 1rem;
    /* Adjust font size if necessary */
    font-weight: bold;
    /* Bold text for better visibility */
    text-decoration: none !important;
}


/* Add to Cart Button Style */
.btn-add-to-cart {
    background-color: #4a5c77;
    /* Primary color */
    color: #f3bd79;
    /* Text color */
    border: 2px solid #f3bd79;
    /* Outline color */
    border-radius: 0.25rem;
    /* Rounded edges */
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.btn-add-to-cart:hover {
    background-color: #665d77;
    /* Darker shade on hover */
    color: #ffffff;
    /* White text on hover */
}

/* Remove from Cart Button Style */
.btn-remove-from-cart {
    background-color: #a37081;
    /* Secondary color, different from Add to Cart */
    color: #ffffff;
    /* White text */
    border: 2px solid #4a5c77;
    /* Outline color */
    border-radius: 0.25rem;
    /* Rounded edges */
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.btn-remove-from-cart:hover {
    background-color: #665d77;
    /* Darker shade on hover */
    color: #f3bd79;
    /* Contrast text color on hover */
}

/* Common Style Overrides */
.btn-add-to-cart,
.btn-remove-from-cart {
    padding: 0.75rem 1.25rem;
    /* Adjust padding */
    font-size: 1rem;
    /* Adjust font size */
    font-weight: bold;
    /* Bold text */
    text-decoration: none !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #C72C41;
    /* Updated button background color */
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #f3bd79;
    /* Updated button background color */
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #2D142C;
    /* Updated button hover color */
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

/* Brushes */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.brush-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.brush-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brush-title {
    max-width: 280px;
    word-wrap: break-word;
    text-align: center;
}

.brush-container:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

#all-products-link {
    display: inline-block;
    /* or 'inline' depending on layout needs */
}


.nnav-item {
    list-style-type: none;
    /* This removes the bullet point */
}


.parent-ul-or-ol-class {
    list-style-type: none;
}

/* Brush Detail */

span {
    font-size: 1.3rem;
    color: #f3bd79 !important;
}

.star-rating {
    font-size: 1.5rem;
    /* Adjust the size of the stars */
    direction: rtl;
    /* Right to left - reverses the visual order of the flex items */
}

.star-rating input[type="radio"] {
    display: none;
    /* Hide the radio buttons */
}

.star-rating label {
    color: #ccc;
    /* Default star color */
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label {
    color: #f3bd79;
    /* Yellow color for selected/hovered stars */
}




/* Toast Message Styling */

.custom-toast {
    border: 2px solid #f3bd79;
    /* Yellow outline */
    border-top: none;
    /* Keeping the top border as none */
}

.bg-success {
    background-color: #f3bd79 !important;
}

.custom-toast .toast-capper.bg-yellow {
    background-color: #f3bd79 !important;
    /* Yellow background color */
    height: 10px;
}

.custom-toast .toast-header {
    background-color: #4a5c77;
    /* Background color for the header */
    color: #f3bd79 !important;
    border-bottom: 2px solid #f3bd79
        /* White text color for contrast */
}

.custom-toast .toast-body {
    background-color: #4a5c77 !important;
    /* Background color for the body */
    color: #ffffff;
    /* White text color for the body */
}

.custom-toast .btn-black {
    background-color: #f3bd79;
    /* Yellow background for the button */
    /* Text color for the button */
    border: none;
    /* Remove border for the button */
}

.custom-toast .btn-black:hover {
    background-color: #665d77;
    /* Darker shade for the button on hover */

    /* White text color on hover */
}

.toast-brush-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 20px;
}

.toast-header {
    font-weight: bold;
}

.toast-body {
    word-wrap: break-word;
    /* Ensures long messages don't overflow */
}

/* Success Toast Specific Styling */
.toast.custom-toast .toast-capper.bg-success {
    height: 10px;
}

.custom-toast .toast-header .close {
    background: transparent;
    /* Remove any background */
    border: none;
    /* Remove any border */
    color: #f3bd79 !important;
    /* Set the 'x' color to yellow */
}

.fas .fa-times {
    color: #f3bd79 !important;
}

.custom-toast .toast-header .close i {
    color: #f3bd79 !important;
    /* Adjust the size of the 'x' icon as needed */
}

.custom-toast .toast-header .close:hover {
    color: #665d77;
    /* Darker shade on hover, adjust as needed */
}

.footer-icon {
    padding: 0 10px;
}

.footer-icon:hover {
    color: aliceblue !important;
    transition: transform 0.3s;
    transform: scale(1.1);
}

.footer {
    padding: 25px 0;
    margin-top: auto;
    width: 100%;
    color: white;
    text-align: center;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}