{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<li class="nnav-item dropdown ml-auto mr-3 mr-md-0 text-center text-md-right">
    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <h2>Sort Brushes</h2> <i class="fas fa-sort fa-icon-style"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="all-brushes-link">
        <a href="{% url 'brushes' %}?sort=price&direction=asc" class="dropdown-item">Price (Low to High)</a>
        <a href="{% url 'brushes' %}?sort=price&direction=desc" class="dropdown-item">Price (High to Low)</a>
        <a href="{% url 'brushes' %}?sort=rating&direction=desc" class="dropdown-item">Rating (High to Low)</a>
        <a href="{% url 'brushes' %}?sort=category&direction=asc" class="dropdown-item">Category (A to Z)</a>
        <a href="{% url 'brushes' %}?sort=category&direction=desc" class="dropdown-item">Category (Z to A)</a>
        <a href="{% url 'brushes' %}" class="dropdown-item">All Brushes</a>
    </div>
</li>

<div class="container">
    <div class="row justify-content-center align-items-end">
        {% if brushes %}
        {% for brush in brushes %}
        <div class="mb-4">
            <div class="brush-container">
                <a href="{% url 'brush_detail' brush.id %}">
                    <h2 class="brush-title">{{ brush.name }}</h2>
                    <div class="brush">
                        <div>
                            {% if brush.image %}
                            <img src="{{ brush.image.url }}" alt="{{ brush.name }} Image" class="brush-image">
                            {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image"
                                class="brush-image">
                            {% endif %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'edit_brush' brush_id=brush.id %}">Edit Brush</a>
                <a href="{% url 'delete_brush' brush_id=brush.id %}">Delete Brush</a>
                <div class="row">
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'save_unsave_brush' brush.id %}">
                        {% csrf_token %}
                        <div class="brush-detail-btn">
                            <a href="#" onclick="this.closest('form').submit(); return false;">
                                <i
                                    class="{% if brush.is_saved %}fas fa-bookmark{% else %}far fa-bookmark{% endif %} brush-icon"></i>
                            </a>
                        </div>
                    </form>
                    {% endif %}
                    <p class="brush-rating">Rating: {{ brush.rating }}</p>
                    <p class="brush-price">Price: ${{ brush.price }}</p>
                </div>

                {% if brush.id|stringformat:"s" in request.session.bag.keys %}

                <form method="post" action="{% url 'remove_from_bag' brush.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{% url 'view_bag' %}">
                    <button type="submit" class="btn btn-remove-from-cart">Remove</button>
                </form>
                {% else %}

                <form method="post" action="{% url 'add_to_bag' brush.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{% url 'brushes' %}">
                    <input type="submit" class="btn btn-add-to-cart" value="Add to Cart">
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No brushes found for your search criteria.</p>
        {% endif %}
    </div>
</div>
{% endblock %}