{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sort Brushes
    </a>
    <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="all-brushes-link">
        <a href="{% url 'brushes' %}?sort=price&direction=asc" class="dropdown-item">Price (Low to High)</a>
        <a href="{% url 'brushes' %}?sort=price&direction=desc" class="dropdown-item">Price (High to Low)</a>
        <a href="{% url 'brushes' %}?sort=rating&direction=desc" class="dropdown-item">Rating (High to Low)</a>
        <a href="{% url 'brushes' %}?sort=category&direction=asc" class="dropdown-item">Category (A to Z)</a>
        <a href="{% url 'brushes' %}?sort=category&direction=desc" class="dropdown-item">Category (Z to A)</a>
        <a href="{% url 'brushes' %}" class="dropdown-item">All Brushes</a>
    </div>
</li>

<div class="container">
    <div class="row justify-content-center align-items-end">
        {% if brushes %}
        {% for brush in brushes %}
        <div class="mb-4">
            <div class="brush-container">
                <a href="{% url 'brush_detail' brush.id %}">
                    <h2 class="brush-title">{{ brush.name }}</h2>

                    <div class="brush">
                        <div>
                            {% if brush.image %}
                            <img src="{{ brush.image.url }}" alt="{{ brush.name }} Image" class="brush-image">
                            {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image"
                                class="brush-image">
                            {% endif %}
                        </div>
                    </div>
                </a>
                <p class="brush-rating">Rating: {{ brush.rating }}</p>
                <p class="brush-price">Price: ${{ brush.price }}</p>
                <a href="" class="add-to-cart-button btn btn-primary">
                    Add to Cart
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No brushes found for your search criteria.</p>
        {% endif %}
    </div>
</div>
{% endblock %}