{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4">Brush Management</h2>
            <h5>Edit a Brush</h5>
            <form method="POST" action="{% url 'edit_brush' brush.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mt-4 text-right">
                    <a class="btn btn-remove-from-cart" href="{% url 'brushes' %}">Cancel</a>
                    <button class="btn btn-add-to-cart" type="submit">Update Brush</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}