.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-control {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #582841;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.order-summary-container {
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid #f89e4c;
    padding: 15px;
}

/* Ensure custom styles override Bootstrap styles */
.btn-custom,
.btn-cta {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none !important;
}


/* Add to Cart Button Style */
.btn-add-to-cart-success {
    background-color: #582841;
    color: #f89e4c;
    border: 2px solid #f89e4c;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart-success:hover {
    background-color: #f89e4c !important;
    color: #582841 !important;
}

p {
    font-size: 1.5rem;
    color: #f89e4c !important;
}

.fieldset-label {
    font-size: 1.5rem;
    color: #f89e4c !important;
}

.bag-items-container {
    max-height: 400px;
    overflow-y: auto;
}

.btn-add-to-cart:hover .icon,
.btn-add-to-cart:hover .text-uppercase {
    color: #582841;
}

hr {
    background-color: #f89e4c;
}

.checkout-btn {
    padding: 20px;
}

@media (max-width: 576px) {
    .responsive-btn {
        font-size: 0.6rem;
    }
}