<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="arrow-up arrow-success"></div>
    <div class="toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="mr-auto">
            <p>Success!</p>
        </strong>
        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="toast-body bg-white">
        {% if request.session.added_brush %}
        <p>{{ message }}</p>
        <div class="table-responsive rounded">
            <table class="">
                <tbody>
                    <tr>
                        <td>
                            <img src="{{ request.session.added_brush.image_url }}"
                                alt="{{ request.session.added_brush.name }}" class="toast-brush-image">
                        </td>
                        <td>{{ request.session.added_brush.name }}</td>
                        <td>${{ request.session.added_brush.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}

        {% endif %}
        <a href="{% url 'view_bag' %}" class="btn btn-black btn-block rounded-0">
            <span class="text-uppercase">View Bag</span>
        </a>
    </div>
</div>